.vertical-list mat-card {
    margin-bottom: 5px;
    [mat-card-content] {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        mat-form-field {
            width: 100%;
        }
        button, .button-group {
            margin-left: auto;
        }
        mat-checkbox {
            margin-bottom: 5px;
        }
    }
}